<h2>Digital Interaktiv Fantastisches</h2>
<h1>
  <%= image_tag "ribbon.png", class: "ribbon" %>
  Geburtstags-Quiz für Claudia
  <%= image_tag "ribbon.png", class: "ribbon" %>
</h1>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "foto_tobi2.JPG", class: "image_kids", title: "Bild von Tobias" %>
      </div>

      <form id="form_tobi">
        <p class="query">In welcher Stadt wohnt Tobi?</p>
        <fieldset>
          <div>
            <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">☐ Bamberg</label>
          </div>
          <div>
            <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">☐ Freiburg</label>
          </div>
          <div>
            <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">☐ Hamburg</label>
          </div>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </figure>
  </div>
</section>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "IMG_8144.JPG", class: "image_kids", title: "Bild von Jo" %>
      </div>

      <form>
        <p class="query">Was war Jo's Lieblingsessen als Kind?</p>
        <fieldset>
          <div>
            <input type="radio" id="jo_answer1" name="frage_jo" value="wrong"><label for="jo_answer1">☐ Frankfurter Schnitzel mit grüner Soße</label><br>
          </div>
          <div>
            <input type="radio" id="jo_answer2" name="frage_jo" value="right"><label for="jo_answer2">☐ Grießbrei mit Kirschen und Zimt und Zucker</label><br>
          </div>
          <div>
            <input type="radio" id="jo_answer3" name="frage_jo" value="wrong"><label for="jo_answer3">☐ Chicken McNuggets mit Pommes und Majo</label><br>
          </div>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Liebe Claudia,</p>

<p>
Heute kann es regnen,<br>
stürmen oder schneien,<br>
denn du strahlst ja selber<br>
wie der Sonnenschein.<br>
Heut ist dein Geburtstag,<br>
darum feiern wir,<br>
alle deine Freunde<br>
freuen sich mit dir<br>
</p>

<p>Zu deinem Ehrentag wünsche Ich Dir Gelassenheit und die Weisheit, dass man für Kinderlieder nie zu alt wird. Auf weitere glückliche, kindliche und weise 50 Jahre.<br>
</p><p>
Deine Jo</p>


    </figure>
  </div>
</section>


<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "IMG_8456.JPG", class: "image_kids", title: "Bild von Tobias" %>
      </div>
      <form id="form_tobi">
        <p class="query">In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <div>
            <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">☐ Bamberg</label>
          </div>
          <div>
            <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">☐ Freiburg</label>
          </div>
          <div>
            <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">☐ Hamburg</label>
          </div>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et.</p>
    </figure>
  </div>
</section>

<section class="container">
  <div class="postcard">
    <figure class="front">
      <div class="photo">
        <%= image_tag "landscape.jpg", class: "image_kids", title: "Bild von Tobias" %>
      </div>
      <form id="form_tobi">
        <p class="query">In welcher Stadt wohnt Tobi Tobson?</p>
        <fieldset>
          <div>
            <input type="radio" id="answer1" name="frage_tobi" value="wrong"><label for="answer1">☐ Bamberg</label>
          </div>
          <div>
            <input type="radio" id="answer2" name="frage_tobi" value="wrong"><label for="answer2">☐ Freiburg</label>
          </div>
          <div>
            <input type="radio" id="answer3" name="frage_tobi" value="right"><label for="answer3">☐ Hamburg</label>
          </div>
        </fieldset>
      </form>
    </figure>

    <figure class="back">
      <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    </figure>
  </div>
</section>
